<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerControlMC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerControlMC.Properties.Settings>
            <setting name="pathFrom" serializeAs="String">
                <value>to </value>
            </setting>
            <setting name="pathTo" serializeAs="String">
                <value>from</value>
            </setting>
            <setting name="configName" serializeAs="String">
                <value>Config name without path</value>
            </setting>
            <setting name="serverFileJarPathTextBox" serializeAs="String">
                <value>path</value>
            </setting>
            <setting name="fileToRun" serializeAs="String">
                <value>start.bat</value>
            </setting>
        </ServerControlMC.Properties.Settings>
    </userSettings>
</configuration>